:root {
    --yellow: #fae100;
    --purple: #BA91FD;
    --green: #30FD4E;
    --blue: rgb(94, 255, 233);
    --horizontal-space: 25px;
    --main-border: 1px solid rgba(0, 0, 0, 0.2);
    --grayColor:rgba(0, 0, 0, 0.5)
}