#chat-screen {
    height: 11000vh;
    background:rgb(254, 169, 241);
}
#chat-screen .alt-header {
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(254, 169, 241);
    padding-bottom: 0px;
    z-index: 8;
}
.chat-status-bar {
    background-color: rgb(254, 169, 241);
    z-index: 10;
}

.main-chat {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.chat__timestamp {
    color: white;
    background-color: var(--grayColor);
    opacity: 0.5;
    padding: 14px;
    border-radius: 25px;
    font-size: 15px;
    margin-bottom: 25px;
}

.message-row {
    width: 100%;
    display: flex;
    margin-bottom: 30px;
}
.message-row img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}
.message__info {
    display: flex;
    align-items: flex-end;
}
.message__author {
    opacity: 0.8;
    font-size: 16px;
    margin-bottom: 8px;
    display: block;
}
.message__bubble {
    background-color: white;
    font-size: 18px;
    padding: 12px 12px;
    border-radius: 12px;
    border-top-left-radius: 0px;
    margin-right: 5px;
}
.message__time {
    opacity: 0.8;
    font-size: 13px;
}
.message-row__own {
    justify-content: flex-end;
}
.message-row__own .message__bubble {
    background-color: var(--yellow);
    border-top-right-radius: 0px;
    border-top-left-radius: 15px;
    margin-right: 0px;
    margin-left: 5px;
}
.message-row__own .message__info {
    flex-direction: row-reverse;
}